* {
  margin: 0;
  padding: 0;
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
  margin: 0;
  padding: 0;
  letter-spacing: 0.1rem;
  /* border: 1px solid white; */
}
a {
  text-decoration: none;
}
a:hover {
  cursor: pointer;
}
body {
  background: radial-gradient(
    circle at top,
    hsl(214, 47%, 23%) 0%,
    hsl(237, 49%, 15%) 100%
  );
  height: 100vh;
  max-height: 100vh;
  padding: 2rem;
}
main {
  font-family: "Barlow Semi Condensed", sans-serif;
  height: 100vh;
}
header {
  border: 0.2rem solid hsl(217, 16%, 45%);
  width: 90%;
}
header h1 {
  line-height: 1.1rem;
  text-transform: uppercase;
}
.score {
  color: hsl(229, 25%, 31%);
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
}
.score p {
  font-size: 0.8rem;
}
.score h1 {
  font-size: 2.5rem;
}
.hide {
  display: none !important;
}
.circle {
  z-index: 2;
  width: 7rem;
  height: 7rem;
  background: radial-gradient(
    circle at top,
    hsl(230, 89%, 62%) 0%,
    hsl(230, 89%, 65%) 100%
  );
  box-shadow: 0px 0.4rem 0.1rem -0.1rem hsl(230, 89%, 55%);
  filter: drop-shadow(0px 0.3rem 0.1rem rgba(0, 0, 0, 0.2));
}
.circle:hover {
  cursor: pointer;
}
.yellow {
  background: radial-gradient(
    circle at top,
    hsl(39, 89%, 49%) 0%,
    hsl(40, 84%, 53%) 100%
  );
  box-shadow: 0px 0.4rem 0.1rem -0.1rem hsl(40, 84%, 35%);
}
.red {
  background: radial-gradient(
    circle at top,
    hsl(349, 71%, 52%) 0%,
    hsl(349, 70%, 56%) 100%
  );
  box-shadow: 0px 0.4rem 0.1rem -0.1rem hsl(349, 70%, 35%);
}
.innerCircle {
  background-color: white;
  width: 78%;
  height: 78%;
  box-shadow: inset 0px 0.5rem 0.1rem -0.1rem rgba(0, 0, 0, 0.2);
}
.rowOne {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.rowTwo {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.stick {
  position: absolute;
  width: 60%;
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.2);
  right: 25%;
  /* transform: translate(50%, -50%); */
  top: 50%;
  z-index: 1;
}
.stick.right {
  top: 100%;
  right: 25%;
  transform: translate(50%, -50%) rotate(-50deg);
}
.stick.left {
  top: 100%;
  left: -35%;
  transform: translate(50%, -50%) rotate(50deg);
}
/*Result*/
.result {
  width: 100%;
}
.result .circle:hover {
  cursor: default;
}
.emptyCircle {
  width: 6.8rem;
  height: 6.8rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  scale: 0.9;
}
.resultText {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1rem;
}
.resultText h2 {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: normal;
  margin: 0;
  margin-top: 1rem;
}
.resultText h2:nth-child(2) {
  transform: translateX(15%);
}

/*Final Result*/
.finalResult {
  width: fit-content;
}
.finalResult h1 {
  color: white;
  font-size: 4rem;
  text-transform: uppercase;
}
.playAgain {
  border: 0.1rem solid white;
  background-color: white;
  width: 100%;
}
.playAgain a {
  font-size: 1re;
  text-transform: uppercase;
  color: hsl(229, 25%, 31%);
  width: 100%;
}
.playAgain:hover,
a:hover {
  color: white;
  background-color: transparent;
}
.rules {
  position: relative;
  text-transform: uppercase;
  padding: 0.5rem 3rem;
  border: 0.1rem solid white;
  margin-bottom: 1rem;
}
.rules:hover {
  cursor: pointer;
}
.rulesList {
  position: fixed;
  z-index: 100;
  background-color: white;
  height: 100vh;
  top: 0;
  width: 100vw;
  right: 0;
  padding: 5rem;
}
.rulesList h1 {
  text-transform: uppercase;
  font-weight: 700;
  color: hsl(229, 25%, 31%);
  font-size: 2rem;
}
.close:hover {
  cursor: pointer;
}
.shadowOne {
  z-index: -3;
}
.shadow1 {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.1);
  top: -0.5rem;
  right: -0.5rem;
  border-radius: 50%;
  z-index: -3;
}
.shadow2 {
  position: absolute;
  width: 9rem;
  height: 9rem;
  background-color: rgba(255, 255, 255, 0.1);
  top: -1rem;
  right: -1rem;
  border-radius: 50%;
  z-index: -3;
}
.shadow3 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.1);
  top: -1.5rem;
  right: -1.5rem;
  border-radius: 50%;
  z-index: -3;
}
.shadow4 {
  position: absolute;
  width: 8rem;
  height: 8rem;
  background-color: rgba(255, 255, 255, 0.1);
  top: -0.5rem;
  left: -0.5rem;
  border-radius: 50%;
  z-index: -2;
}
.shadow5 {
  position: absolute;
  width: 9rem;
  height: 9rem;
  background-color: rgba(255, 255, 255, 0.1);
  top: -1rem;
  left: -1rem;
  border-radius: 50%;
  z-index: -2;
}
.shadow6 {
  position: absolute;
  width: 10rem;
  height: 10rem;
  background-color: rgba(255, 255, 255, 0.1);
  top: -1.5rem;
  left: -1.5rem;
  border-radius: 50%;
  z-index: -2;
}
@media screen and (min-width: 768px) {
  main {
    max-width: 70vw;
  }
  header {
    width: 130%;
  }
  header h1 {
    line-height: 1.3rem;
  }
  .rules {
    position: fixed;
    bottom: 2rem;
    right: 3rem;
  }
  .finalResult h1 {
    margin-bottom: 2rem;
  }
  .dimmer {
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
    top: 0;
    width: 100vw;
    right: 0;
  }
  .circle {
    width: 10rem;
    height: 10rem;
  }
  .emptyCircle {
    width: 9.5rem;
    height: 9.8rem;
  }
  .stick {
    height: 1.5rem;
  }
  .stick.right {
    top: 100%;
    right: 30%;
    transform: translate(50%, -50%) rotate(-50deg);
  }
  .stick.left {
    top: 100%;
    left: -30%;
    transform: translate(50%, -50%) rotate(50deg);
  }
  .rulesList {
    width: 30rem;
    height: 30rem;
    padding: 2rem;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 0.5rem;
  }
  .shadow1 {
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: rgba(255, 255, 255, 0.1);
    top: -1rem;
    right: -1rem;
    border-radius: 50%;
  }
  .shadow2 {
    position: absolute;
    width: 14rem;
    height: 14rem;
    background-color: rgba(255, 255, 255, 0.1);
    top: -2rem;
    right: -2rem;
    border-radius: 50%;
  }
  .shadow3 {
    position: absolute;
    width: 16rem;
    height: 16rem;
    background-color: rgba(255, 255, 255, 0.1);
    top: -3rem;
    right: -3rem;
    border-radius: 50%;
    z-index: -2;
  }
  .shadow4 {
    position: absolute;
    width: 12rem;
    height: 12rem;
    background-color: rgba(255, 255, 255, 0.1);
    top: -1rem;
    left: -1rem;
    border-radius: 50%;
  }
  .shadow5 {
    position: absolute;
    width: 14rem;
    height: 14rem;
    background-color: rgba(255, 255, 255, 0.1);
    top: -2rem;
    left: -2rem;
    border-radius: 50%;
  }
  .shadow6 {
    position: absolute;
    width: 16rem;
    height: 16rem;
    background-color: rgba(255, 255, 255, 0.1);
    top: -3rem;
    left: -3rem;
    border-radius: 50%;
    z-index: -2;
  }
}
